<table class="table">
    <thead>
        <tr>
            <th style="width: 20%;">{{userName}}</th>
            <th>Written: {{createdDate | date:'medium'}}</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
            <img src="https://www.clevelanddentalhc.com/wp-content/uploads/2018/03/sample-avatar-300x300.jpg" width="200" height="200">
            </td>
            <td>
             {{text}}
            </td>
        </tr>
    </tbody>
</table>