<h3>{{topic.name}}</h3>
<p>{{topic.description}}</p>

<table class="table">
    <tbody>
        <app-sub-element 
        *ngFor="let thread of topic.threads" 
        elementType="thread"
        [element]="thread"></app-sub-element>
    </tbody>
</table>

