<table class="table">
    <thead class="thead-dark">
      <tr>
        <th colspan="3" class="header">{{name}}</th>
      </tr>
    </thead>
    <tbody>
        <app-sub-element 
        *ngFor="let topic of topics" 
        elementType="topic"
        [element]="topic"></app-sub-element>
    </tbody>
  </table>