<h3>{{thread.name}}</h3>
<br><br>

<app-post *ngFor="let post of thread.posts"
    userName="{{post.authorName}}"
    createdDate="{{post.createdDate}}"
    text="{{post.text}}"
></app-post>
<br><br>
<hr>
<br><br>
<input type="text" placeholder="User Name" [(ngModel)]="userName">
<br><br>
    <jodit-editor  #editor
    (onChange)="editorValueChanged(editor)"
    [config]="{buttons: ''}">
</jodit-editor>
<button (click)="addPost()">Add post</button>
