<tr>
  <td class="elementColumn">
      <a routerLink="/{{elementType}}/{{element.id}}">
        {{element.name}}
      </a> <br>
    <span class="description">{{element.description}}</span>
  </td>
</tr>