tr{
    display: flex;

    .elementColumn {
        width: 100%;

        .description {
            font-size: 13px;
        }

        a {
            color: black;

            &:hover {
                color: blue;
            }
        }
    }
}

